<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JobXite</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/22435a4bc2.js" crossorigin="anonymous"></script>
        <script src = "https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
    </head>
    <body style="background-color: #4E4E50; min-height: 100vh">

        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="{% url 'index' %}" class="navbar-item">JobXite</a>
                <a role="button" aria-label="menu" aria-expanded="false"
                   data-target="main-navbar" class="navbar-burger burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="main-navbar" class="navbar-menu">
                <div class="navbar-start">
                    <a href="{% url 'rentals' %}" class="navbar-item">Rentals</a>
                    <a href="{% url 'sales' %}" class="navbar-item">Equipment Sales</a>
                </div>
                <div class="navbar-end">
                    <a href="{% url 'contact' %}" class="navbar-item">Contact Us</a>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'register' %}" class="navbar-item">Register</a>
                    <a href="{% url 'login' %}" class="navbar-item">Login</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="navbar-item">Logout, {{ user.username }}</a>
                    {% endif %}
                </div>
            </div>
        </nav>

            {% block content %}

            {% endblock %}

        <footer class="hero-foot has-text-centered"
                style="background-color: #4E4E50">
            <div class="content has-text-centered is-dark">
                <p style="color: white">
                    <strong>
                        JobXite
                    </strong>
                     by
                    <a href="http://www.richcreek.dev">
                        Damien Richcreek
                    </a>
                    . The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">
                        MIT
                    </a>
                    . The website content is licensed
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                        CC BY NC SA 4.0
                    </a>
                    .
                </p>
            </div>
        </footer>
        <script>
        document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

        });
        });
        }

        });
        </script>
    </body>
<style>
    ::placeholder {
        color: black;
        opacity: 1;
    }
    ::-webkit-input-placeholder {
        color: black;
    }
    ::-moz-placeholder {
        color: black;
    }
    :-ms-input-placeholder {
        color: black;
    }
    :-moz-placeholder {
        color: black;
    }
    body {
        font-family: 'Cardo', serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }
    footer:last-of-type {
        margin-top: 30px;
    }
</style>

</html>