{% extends 'base.html' %}

{% block content %}
<section class="hero is-large has-text-centered is-fullheight-with-navbar" style="background-image:
url('https://images8.alphacoders.com/436/436322.jpg'); background-size: cover">
    <div class="hero-body">
        <section>
            <h1 class="title" style="color: whitesmoke">
                JobXite
            </h1>
            <p class="subtitle" style="color: white">
                "X" Marks the Spot!
            </p>
        </section>
    </div>
</section>

{% endblock %}