{% extends 'base.html' %}

{% block content %}



<h1 class="title has-text-centered">Rentals</h1>
<div class="container">
    {% for item in items %}
    <div class="box has-background-dark cards" style="max-width:
    400px; min-width: 400px; min-height: 200px; margin: 10px; display: inline-block;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96 is-1by1">
                    <img src="/{{ item.image_main }}"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white" style="min-height: 125px">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            {{ item.title }}
                        </strong>
                        <small>
                            @{{ item.category }}
                        </small>
                        <br/>
                        {{ item.description }}
                    </p>
                </div>
                {% if not user.is_authenticated %}
                <nav class="level is-mobile">
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Rent Me
                            </button>
                        </p>
                    </div>
                </nav>
                {% endif %}
            </div>
        </article>
        {% if user.is_authenticated %}
        <footer class="card-footer is-align-items-flex-end">
            <a href="#" class="card-footer-item button is-primary">${{ item.day_price }}</a>
            <a href="#" class="card-footer-item button is-primary">${{ item.week_price }}</a>
            <a href="#" class="card-footer-item button is-primary">${{ item.month_price }}</a>
        </footer>
        {% endif %}
    </div>
    {% endfor %}
</div>
<script>
    $(".modal-button").click(function() {
        var target = $(this).data("target");
        $("html").addClass("is-clipped");
        $(target).addClass("is-active");
    });

    $(".modal-close").click(function() {
        $("html").removeClass("is-clipped");
        $(this).parent().removeClass("is-active");
    });
</script>

{% endblock %}