{% extends 'base.html' %}

{% block content %}

    <h1 class="title has-text-centered">Equipment Sales</h1>

<div class="container">
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
    <div class="box has-background-dark" style="max-width: 400px; display: inline-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="https://www.wackerneuson.co.uk/fileadmin/_processed_/f/4/csm_WN_Image_ET145_neueBeklebung_action_02_700x466_9a6aa3d98e.png"
                         alt="Image"/>
                </figure>
            </div>
            <div class="media-content has-text-white">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Hibiscus Ficus
                        </strong>
                        <small>
                            @NewCollection
                        </small>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                        fringilla egestas.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                        <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                            $74,999
                        </p>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            <button class="button is-primary ">
                                Buy Me
                            </button>
                        </p>
                    </div>
                </nav>
            </div>
        </article>
    </div>
</div>

{% endblock %}